@charset "UTF-8";
.title {
  height: 5rem;
  h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
  }
}

.btn{ 
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.container {
  .btn_wrapper {
    margin: 0 auto;
    text-align: center;
    h3 {
      font-weight: 700;
      line-height: 1.7;
    }
  }
}

#btn01 {
  color: #fff;
  background-color: #eb6100;

  &:hover{
    color: #fff;
    background: #f56500;
  
  }
}

#btn02 {
  color: #333333;
  background: #ffffff;
  box-shadow:  20px 20px 40px #d9d9d9, 
              -20px -20px 40px #ffffff;

  &:hover{
    color: #000000;

    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 40px #d9d9d9, 
                -20px -20px 40px #ffffff;
  }
  &:active{

    background: #ffffff;
    box-shadow: inset 20px 20px 40px #d9d9d9, 
                inset -20px -20px 40px #ffffff;
  }
}

#btn03 {
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;

  &:hover{
    color: #fff;
    background: #f56500;
  
  }
}


